/* Importação da fonte */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

/* Estilos globais */
* {
    font-family: "Open Sans", sans-serif;
}

/* Estilos do corpo da página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('https://images.hdqwalls.com/wallpapers/christopher-nolans-oppenheimer-zo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin-top: 10vh;
    text-align: center;
    background-color: #dad4d469;
    border: 1px solid #fff;
    box-shadow: 3px 2px 5px 5px #333;
}

.container h1 {
    background-color: #000000a6;
    color: #fff;
    font-weight: bold;

    transition: 0.5s;
}

.container h1:hover {
    color: #bbbaba;
}

/* Estilos do contêiner principal */
#list {
    padding: 10px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos do botão "Adicionar" */
button {
    cursor: pointer;
    border: 1px solid rgb(27, 27, 27);

    margin-left: 10px;
}

#adc {
    border-radius: 5px;
    background-color: #ff910a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    transition: 0.5s;
}

#adc:hover {
    border-radius: 5px;
    background-color: #995b0e;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}

/* Estilos do campo de entrada de texto */
input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

/* Estilos do contêiner das tarefas */
#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Estilos dos itens de tarefa */
.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 300px;
}

/* Estilos do rótulo da tarefa */
.task-item label {
    word-wrap: break-word;
    flex: 1;
    margin-left: 10px;
}

/* Estilos para tarefas concluídas (rótulo com checkbox marcado) */
:checked+label {
    text-decoration: line-through;
    color: grey;
}

/* Estilos para o botão "Remover" */
.button-remove {
    border: 1px solid rgb(161, 13, 13);
    border-radius: 5px;
    background-color: #dd4523;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    transition: 0.5s;
}

.button-remove:hover {
    border: 1px solid rgb(87, 31, 31);
    border-radius: 5px;
    background-color: rgb(63, 16, 16);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}

@media (max-width: 990px) {
    body {
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}